.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: #fff;
}

.logo {
    height: auto;
    width: 120px;
}

.nav-items ul {
    display: flex;
    list-style-type: none;
    gap: 1.5rem;
}

.nav-items li {
    font-size: 1.1rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.nav-items li:hover {
    color: #f39c12;
}

.body {
    padding: 2rem 0rem;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

.res-card {
    width: 210px;
    height: 350px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    will-change: transform;
}

.res-logo {
    width: 100%;
    height: 40%;
    object-fit: cover;
    border-radius: 12px;
}

.res-card:hover{
    cursor: pointer;
    /*transform: translateY(-5px);*/
    transform: scale(1.03);
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.menu-opt {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

.search input {
    width: 400px;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}

.search-btn {
    font-weight: bold;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.filter-btn {
    width: 200px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}